h1,
h2,
p,
a,
li {
  text-decoration: none;
  font-family: var(--primary-font);
}

.text-sm {
  font-size: var(--font-sm);
}

.text-md {
  font-size: var(--font-md);
}

.text-lg {
  font-size: var(--font-lg);
}

.text-xl {
  font-size: var(--font-xl);
}

.text-2xl {
  font-size: var(--font-2xl);
}

.text-3xl {
  font-size: var(--font-3xl);
}

.text-4xl {
  font-size: var(--font-4xl);
}

.text-5xl {
  font-size: var(--font-5xl);
}

.text-normal {
  font-weight: var(--fw-normal);
}

.text-semibold {
  font-weight: var(--fw-semibold);
}

.text-bold {
  font-weight: var(--fw-bold);
}

.text-turquoise {
  color: var(--turquoise-color);
}

.text-turquoise-light {
  color: var(--turquoise-light-color);
}

.text-turquoise-dark {
  color: var(--turquoise-dark-color);
}

.text-light-gray {
  color: var(--light-gray-color);
}

.text-white {
  color: var(--white-color);
}

.text-dark-gray {
  color: var(--dark-gray-color);
}
