.btn {
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  height: 40px;
}

.btn-large {
  width: 507px;
}

.btn-medium {
  width: 170px;
}

.btn-small {
  width: 145px;
}

.btn-primary {
  background-color: var(--turquoise-light-color);
  padding: 10px 8px;
  border-radius: 8px;
  font-size: var(--font-3xl);
  font-weight: var(--fw-bold);
  transition: box-shadow 0.3s ease;
}

.btn-primary:hover {
  box-shadow: 0 0 10px var(--turquoise-color);
}

.btn-secondary {
  background-color: var(--yellow-color);
  padding: 10px 8px;
  border-radius: 8px;
  font-size: var(--font-3xl);
  font-weight: var(--fw-bold);
  transition: box-shadow 0.3s ease;
}

.btn-secondary:hover {
  box-shadow: 0 0 10px var(--yellow-light-color);
}
