button {
  text-align: center;
  color: var(--primary-color);
  border: none;
  border-radius: calc(8 / 16 * 1rem);
  cursor: pointer;
  padding-top: calc(14 / 16 * 1rem);
  padding-bottom: calc(16 / 16 * 1rem);
  transition: var(--smooth);
}

.btn-primary {
  font-size: var(--text-sm);
  background-color: var(--tertiary-color);
}

.btn-secondary {
  color: var(--light-color);
  font-size: var(--text-sm);
  background-color: var(--primary-color);
}
