.card {
  background-color: rgba(244, 240, 240, 0.04);
  border-radius: 12px;
}

.card:hover {
  background-color: #FFE377;
  cursor: pointer;
}

.card:hover .benefit-icon{
  color: var(--dark-color);
}
