.card {
  background-color: rgba(244, 240, 240, 0.04);
  border-radius: 0.75rem;
}

.card:hover {
  background-color: #FFE377;
}

.card:hover .benefit-icon{
  fill: black;
  color: var(--dark-color);
}
