.forward-link {
  display: flex;
  align-items: flex-end;
}

.text-link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  padding-bottom: 6.4px;
}

.forward-link:hover{
  color: var(--green-color);
}
