.icon-with-text {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 0.05rem;
  letter-spacing: 0.178px;
}

.icon-quotes {
  color: var(--green-color);
  font-family: var(--primary-font);
  font-size: 7.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: -0.1rem;
  max-height: 3rem;
}
@media (min-width: 1440px) {
  .icon-with-text {
    gap: 1.3rem;
  }

  .icon-quotes{
    font-size: 6.5rem;
  }
}

