.text-sm {
  font-family: var(--primary-font);
  font-size: var(--font-sm);
  color: var(--light-color);
  font-weight: var(--fw-normal);
}

.text-md {
  font-size: var(--font-md);
  color: var(--dark-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-normal);
  line-height: 1.625rem;
}

.text-xl {
 font-family: var(--primary-font);
 font-size: var(--font-xl);
 color: var(--dark-color);
 line-height: 1.6875rem;
 font-weight: var(--fw-bold);
 letter-spacing: 0.0225rem;
}

.text-3xl {
  font-size: var(--font-3xl);
  color: var(--dark-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-bold);
  line-height: 2.875rem;
  letter-spacing: -0.03125rem;
}
