p,
h1,
h2,
li {
  font-family: var(--primary-font);
  text-decoration: none;
}

.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-white {
  color: var(--primary-color);
}

.text-grey {
  color: var(--grey-color);
}

.text-semibold {
  font-weight: var(--fw-semibolf);
}

.text-bold {
  font-weight: var(--fw-bold);
}
