:root {
  /* color varibale */
  --primary-color: #fff;
  --secondary-color: #f4f4f4;
  --tertiary-color: #004050;
  --light-color: #787878;


  /* font variable */
  --primary-font: "Satoshi", sans-serif;

  /* font size variable */
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 32px;
  --text-2xl: 48px;
  --text-3xl: 64px;
}
