:root {
  /* color varibale */
  --primary-color: #fff;
  --secondary-color: #f4f4f4;
  --tertiary-color: #004050;
  --light-color: #787878;
  --dark-color: #000;
  --green-color: #00cc61;
  --grey-color: #dcdcdc;
  --yellow-color: #FFE377;

  /* font variable */
  --primary-font: "satoshi", sans-serif;

  /* font size variable with 1rem = 16px*/
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 2rem;
  --font-3xl: 2.125rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 4rem;

 /* font weight */
  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-normal: 400;

  --smooth: all 0.3s ease-in;
}
