.donate {
  margin: auto;
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
}

.donate .text-md {
  max-width: 440px;
  margin-top: 140px;
}

.donate-input {
  border: 1px solid var(--tertiary-color);
  background: var(--primary-color);
  box-shadow: 0px 0px 20px 0px rgba(16, 114, 83, 0.16);
  line-height: 1.3;
  padding: 22px;
  max-width: 380px;
}

.donate-input form {
  margin-top: 6px;
}

.donate-input label {
  font-family: var(--primary-font);
  font-size: var(--font-m);
  font-weight: 700;
}

.btn-link img {
  transform: translate(6px, 2px);
}

.donate-select {
  position: absolute;
  padding: 9px 13px;
  border: 1px solid var(--quaternary-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: var(--font-l);
  margin-top: 4px;
}

.donate-input .btn-link {
  margin-top: 11px;
}
