.donate {
  margin: auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-evenly;
}

.donate .text-md {
  max-width: 460px;
  margin-left: 130px;
  margin-top: 146px;
}

.donate-input {
  border-radius: 4px;
  border: 1px solid var(--tertiary-color);
  background: var(--primary-color);
  box-shadow: 0px 0px 20px 0px rgba(16, 114, 83, 0.16);
  line-height: 1.2;
  padding: 22px;
  margin-right: 131px;
}

.donate-input form {
  margin-top: 9px;
}

.donate-input label {
  font-family: var(--primary-font);
  font-size: var(--font-m);
  font-weight: 700;
}

.donate-select {
  padding-right: 2px;
}

.btn-link img {
  transform: translate(13px, 3px);
}

.donate-select {
  position: absolute;
  padding: 11px 17px;
  border: 1px solid var(--quaternary-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: var(--font-l);
}

.donate-input .btn-link {
  margin-top: 8px;
}
