.news-letter {
    max-width: 984px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.news-letter p {
    color: var(--primary-color);
    text-align: center;
    word-spacing: 2.5px;
    font-family: var(--primary-font);
    font-size: var(--font-l);
    padding-top: 73px;
    
}

.news-letter form {
    margin-left: 25px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.news-letter input[type=email] {
    width: 265px;
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: var(--font-l);
    font-style: italic;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--quaternary-color);
    background: var(--tertiary-color);
    padding: 10px 15px;
}
