.news-letter-section {
    width: 984px;
    height: 209px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-top: 126px;
    border-radius: 8px;
}

.news-letter-section p {
    flex-direction: column;
    color: var(--primary-color);
    text-align: center;
    word-spacing: 2.5px;
    font-family: var(--primary-font);
    font-size: var(--font-l);
    padding-top: 73px;
    
}

.news-letter-section form {
    margin-left: 34px;
    margin-top: 28px;
    display: flex;
    margin-left: 295px;
}

.news-letter-section input[type=email] {
    width: 275px;
    height: 38px;
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: var(--font-l);
    font-style: italic;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--quaternary-color);
    background: var(--tertiary-color);
    padding-left: 15px;
}
