.reading {
  margin: 0 auto;
  margin-top: 615px;
}

.reading .btn-quaternary {
  margin-left: 1035px;
}

.reading-all-card {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 30px;
}

.reading-card .btn-tertiary {
  transform: translate(92px, -6px);
} 
