.reading {
  margin: 0 auto;
  margin-top: 615px;
}

.reading .btn-quaternary {
  float: right;
  margin-right: 260px;
}

.reading-all-card {
  
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/* 
.reading-card .btn-tertiary {
  display: flex;
  margin: 0 auto;
  transform: translate(2px, -4px);
}  */