.what-we-do {
  margin-top: 126px;
}

.what-we-do .btn-primary {
  margin-top: 27px;
  float: right;
}

.what-we-do-card {
  display: flex;
  padding-top: 140px;
  justify-content: space-between;
  clear: both;
}

.card-img img {
  position: relative;
  border-radius: 8px;
  transform: translate(26px, -28px);
}

.what-we-do-card .text-h2 {
  padding-left: 25px;
  transform: translateY(-22px);
  margin: 0px;
}

.what-we-do-card .text-p {
  padding-left: 24px;
  transform: translateY(-30px);
}

.what-we-do-card .btn-tertiary {
  display: flex;
  align-items: center;
  margin: 0 auto;
  transform: translate(8px, -25px);
}
