.headline-container {
  width: fit-content;
  padding-bottom: 16px;
  border-bottom: 3px solid;
}

.headline-container.primary {
  border-color: var(--primary-color);
}

.headline-container.secondary {
  border-color: var(--white-color);
}

.headline {
  font-weight: var(--fw-bold);
  font-size: var(--font-xl);
}

.headline-title.primary{
  color: var(--text-secondary-color);
}

.headline-title.secondary{
  color: var(--white-color);
}

.headline-sub-title {
  color: var(--primary-color);
}
