.headline-container {
  width: fit-content;
  border-bottom: 3px solid var(--primary-color);
}

.headline {
  font-weight: var(--fw-bold);
  font-size: var(--font-xl);
  padding-bottom: 16px;
}

.headline-title {
  color: var(--text-secondary-color);
}

.headline-sub-title {
  color: var(--primary-color);
}
