.footer-container {
  background-color: var(--turquoise-dark-color);
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-link-footer {
  display: flex;
  align-items: center;
}
