.card-img {
  border-radius: 8px;
  border: 1px solid var(--quaternary-color);
  margin-top: 28px;
  margin-right: 20px;
}

.reading-card {
  max-width: 282px;
  border-radius: 8px;
  border: 1px solid var(--quaternary-color);
}

