.text-lg {
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: var(--font-xl);
 
  }
  
  .text-md {
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: var(--font-l);
    text-align: left;
    line-height: 1.4;
  }
 
  .text-sm{
    color: var(--primary-color);
    font-size: var(--font-s);
    line-height: 18px;
    font-family: var(--primary-font);
    text-decoration: none;
  }