.link-secondary-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  width: 80vw;
  margin: 0 auto;
}


.link-secondary {
  display: flex;
  gap: 30px;
  background: url(../../assets/background-button1.png);
  border-radius: 30px;
  border: 2px solid rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
}

.img-link-secondary {
  width: 80px;
  height: 80px;
}
