:root {
  --primary-font: 'Roboto';

  --font-sm: 10px;
  --font-md: 12px;
  --font-lg: 14px;
  --font-xl: 16px;
  --font-xxl: 18px;
  --font-3xl: 20px;
  --font-4xl: 24px;
  --font-5xl: 32px;

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-normal: 400;

  --turquoise-color: rgb(52, 146, 158);
  --turquoise-light-color: rgb(218, 243, 246);
  --turquoise-dark-color: rgb(69, 195, 210);
  --light-azure: rgb(100 185 229);
  --light-gray-color: rgb(241, 241, 241);
  --gray-color: rgb(225, 217, 217);
  --white-color: #fff;
  --dark-gray-color: rgb(51, 51, 51);
  --yellow-color: rgb(255, 145, 0);
  --yellow-light-color: rgb(240, 165, 103);
  --black-color: #000;

  --text-color-400: #999ba8;
  --icon-default-color: #9a9db2;
  --success-color: 51, 183, 107; /*#33b76b; */
  --warning-color: 245, 188, 51; /*#f5bc33*/
  --error-color: 236, 60, 54; /*#ff4842 */
  --info-color: 24, 144, 255/*#1890ff; */
}
