:root {
  --font-sm: 10px;
  --font-md: 12px;
  --font-lg: 14px;
  --font-xl: 16px;
  --font-xxl: 18px;
  --font-xxxl: 20px;
  --font-4xl: 24px;
  --font-5xl: 32px;

  --fw-bold: 700;
  --fw-semibold: 500;
  --fw-normal: 400;
}
