.itemlink {
  border: 2px solid var(--very-light-gray);
  align-items: center;
  text-align: center;
  width: 100%;
}

.itemlink:hover {
  border: 2px solid var(--turquoise-dark-color);
}

.itemlink-primary {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 40px;
  margin-left: 30px;
}

.itemlink-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.itemlink-small {
  max-width: 240px;
}

.itemlink-medium {
  max-width: 240px;
}

.itemlink-large {
  min-height: 312px;
}

.img-link {
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: transparent;
}

.img-service {
  width: 56px;
  height: 56px;
}

.img-specialist {
}

.img-facilities {
  max-width: 332px;
  max-height: 158px;
}

.img-outstanding {
  width: 80%;
  border-radius: 50%;
  border: 1px solid var(--very-light-gray);
}

.img-handbook {
  border-radius: 8px;
  max-height: 151px;
  margin-bottom: 15px;
}
