.itemlink {
  border: 2px solid var(--gray-color);
}

.itemlink:hover {
  border: 2px solid var(--turquoise-dark-color);
}

.itemlink-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 40px;
  margin-left: 30px;
  width: fit-content;
}

.itemlink-secondary {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.itemlink-tertiary {
  display: flex;
  flex-direction: column;
}

.itemlink-tertiary:hover {
  border-color: transparent;
  color: var(--turquoise-dark-color);
}
