.select-container {
  padding: 16px 0;
  border-top: 1px solid var(--line-grey-color);
  border-bottom: 1px solid var(--line-grey-color);
  margin-bottom: 20px;
}

.select-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select-category {
  font-size: var(--font-sm);
  color: var(--text-primary-color);
  background-color: var(--tertiary-color);
  border-radius: 18px;
  padding: 9px 14px;
  margin-right: 14px;
}

.select-category:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.products {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  margin-top: 40px;
}

.products-list {
  display: flex;
  gap: 16px;
}

.banner-list {
  margin-top: 40px;
}

.categories-list {
  display: flex;
  justify-content: flex-start;
  gap: 46px;
}
