.comments {
  padding: 0 20px;
  margin-top: 59px;
}

.comments-input {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--grey-color);
  padding: 19px 17px;
}

.comments-input:focus {
  outline: none;
}

.commenters {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.comments-content {
  margin: 2px 44px;
}

.time-ago {
  color: var(--faint-color);
  font-size: var(--font-sm);
  font-style: italic;
  margin-left: 15px;
}
