.date-container {
  padding: 0 20px;
  margin-top: 58px;
}

.date-select {
  margin-top: 10px;
  font-size: var(--font-lg);
  border: none;
  padding: 0;
}

.date-select:focus {
  outline-color: var(--faint-color);
}
