.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.logo-title {
  color: var(--blue-title-color);
  font-size: var(--font-xl);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
