.title {
  font-size: var(--font-lg);
  font-style: normal;
  font-weight: var(--fw-bold);
  line-height: normal;
  display: flex;
  align-items: center;
}

.detail-title {
  color: var(--faint-color);
}

