/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../../assets/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
        url('../../assets/fonts/satoshi/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../../assets/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
        url('../../assets/fonts/satoshi/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../../assets/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
        url('../../assets/fonts/satoshi/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}