.btn-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background: url(../../assets/background-button1.png);
  border-radius: 30px;
  border: 2px solid rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 15px;
}

.img-btn-secondary {
  width: 80px;
  height: 80px;
}
