.login-background {
  background: url('../../assets/backgrounds/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

.login-container {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: auto;
  margin: 100px auto;
  background-color: var(--white-color);
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.login-title {
  text-align: center;
  padding: 30px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.text-field {
  padding: 10px;
  border: 1px solid rgb(170, 151, 151);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
}

.text-field:focus {
  border: 1px solid rgb(89, 207, 228);
}

.password-container {
  position: relative;
}

.eye {
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 15px;
  top: 28px;
}

.hide-eye {
  background-image: url(../../assets/icons/ic-eye.svg);
}

.show-eye {
  background-image: url(../../assets/icons/ic-eye-slash.svg);
}

.login-button {
  width: 70%;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    135deg,
    rgb(157, 190, 190) 0%,
    rgb(45, 194, 253) 100%
  );
}

.afternative-login {
  display: flex;
  margin: 0 auto;
}

.option-text {
  margin: 0 auto;
}

.login-google {
  background-image: url('../../assets//icons/ic-google.svg');
  background-repeat: no-repeat;
  min-width: 35px;
  display: block;
  margin-right: 10px;
}

.login-facebook {
  background-image: url('../../assets/icons/ic-facebook.svg');
  background-repeat: no-repeat;
  min-width: 50px;
  min-height: 50px;
  display: block;
  padding: 20px;
}
