.footer-wrapper {
  margin-top: 4.55rem;
  padding-bottom: 8rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.footer-logo img {
  width: 6.6rem;
}

.footer-logo .text-sm {
  line-height: 24px;
}

.social-media {
  display: flex;
  gap: 0.93rem;
  padding-top: 0.25rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.1rem;
  height: 0.1;
  padding: 0.73rem;
  border-radius: 50%;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.twitter {
  background-color: #55acee;
}

.social-icon.linkedin {
  background-color: #0976b4;
}

.footer-summary {
  margin-top: 2.9rem;
  display: flex;
  flex-direction: column;
  gap: 2.65rem;
}

.footer-summary .text-md {
  font-weight: var(--fw-bold);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-copyright {
  margin-top: 3.7rem;
  display: flex;
  flex-direction: column;
}

.copyright .text-sm {
  margin-top: 1.75rem;
  color: var(--light-color);
  letter-spacing: 0.0125rem;
}

.contact {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.22rem;
}

.contact .text-sm {
  color: var(--dark-color);
  letter-spacing: 0.0125rem;
}

.select-translate{
  margin-top: 2rem;
  display: flex;
  gap: 0.2rem;
}

.language-dropdown{
  border: none;
  font-weight: var(--fw-bold);
}

@media (min-width: 1440px) {
  .footer-wrapper {
    margin-top: 7.5rem;
    padding-bottom: 8rem;
  }
  
  .footer-content {
    flex-direction: row;
    align-items: flex-start;
    gap: 7.8rem;
  }

  .footer-logo {
    max-width: 16.5rem;
  }

  .footer-summary {
    margin-top: 0;
    flex-direction: row;
  }

.product{
    padding-left: 5.1rem;
  }

  .discover{
    padding-left: 1.9rem;
  }

  .help-center{
    padding-left: 1.3rem;
  }
}
