.footer-wrapper {
  font-family: Satoshi;
  margin-top: 72.8px;
  padding-bottom: 128px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.logo-img {
  width: 105.6px;
}

.logo-text {
  font-size: 14px;
  line-height: 24px;
}

.social-media {
  display: flex;
  gap: 17px;
  padding-top: 4px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6px;
  height: 0.1;
  padding: 11.7px;
  border-radius: 50%;
  color: var(--primary-color);
  transition: background-color 0.3s;
}

.social-icon:nth-child(1) {
  background-color: #3b5998;
}

.social-icon:nth-child(2) {
  background-color: #55acee;
}

.social-icon:nth-child(3) {
  background-color: #0976b4;
}

.footer-summary {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  gap: 16.5px;
}

.title-link {
  padding-bottom: 14px;
  font-weight: var(--fw-bold);
  line-height: 34px; 
  letter-spacing: 0.2px;
}

.item-link {
  font-family: var(--primary-font);
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: var(--fw-normal);
  letter-spacing: 0.2px;
}

.footer-line {
  margin: 0 auto;
  width: 88%;
}

.footer-copyright {
  margin-top: 36.8px;
}

.copyright-wrapper {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.copyright-text {
  color: var(--light-color);
  font-size: 14px;
  font-weight: var(--fw-normal);
  letter-spacing: 0.2px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 19.52px;
}

.text-contact {
  font-size: 14px;
  font-weight: var(--fw-normal);
  letter-spacing: 0.2px;
}

.select-translate {
  display: flex;
  gap: 3.2px;
}

.language-dropdown {
  border: none;
  font-weight: var(--fw-bold);
}

.language-item {
  font-size: 14px;
  font-weight: var(--fw-semibold);
  line-height: normal;
  letter-spacing: 0.192px;
}

@media (min-width: 1200px) {
  .footer-content {
    flex-direction: row;
    gap: 18px;
  }

  .footer-summary {
    margin-top: 3.6px;
    flex-direction: row;
  }

  .copyright-wrapper {
    flex-direction: row;
    gap: 126px;
    align-items: center;
  }

  .contact {
    flex-direction: row;
    gap: 72px;
  }
}

@media (min-width: 1440px) {
  .footer-wrapper {
    margin-top: 118px;
    padding-bottom: 144px;
    gap: 30.6px;
  }

  .footer-content {
    flex-direction: row;
    gap: 136.8px;
  }

  .footer-logo {
    margin-top: 5px;
    max-width: 252px;
    gap: 19px;
  }

  .logo-img {
    width: 106px;
    height: 22px;
  }

  .logo-text {
    font-size: 14px;
    line-height: 1.4rem;
  }

  .item-link {
    padding-bottom: 19.8px;
    font-size: 14px;
    letter-spacing: 0.18px;
  }

  .footer-summary {
    margin-top: 0;
    flex-direction: row;
  }

  .product {
    padding-left: 107px;
    padding-right: 52px;
  }

  .help-center {
    padding-left: 43px;
  }

  .title-link {
    font-size: 16px;
    padding-bottom: 12px;
  }

  .social-media {
    gap: 17px;
    padding-top: 2.7px;
  }
  .footer-line {
    margin: 0 auto;
    width: 94%;
  }

  .footer-copyright {
    margin-top: 90px;
  }

  .copyright-wrapper {
    margin-top: 41.4px;
    flex-direction: row;
    gap: 203.4px;
    align-items: center;
  }

  .copyright-text {
    color: var(--light-color);
    font-size: 14px;
    font-weight: var(--fw-normal);
    letter-spacing: 0.225px;
  }

  .contact {
    flex-direction: row;
    gap: 48px;
  }

  .text-contact {
    font-size: 14px;
    letter-spacing: 0.18px;
  }

  .select-translate {
    margin-left: 44px;
  }
}
