.navbar {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 6rem;
}

.navbar-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: var(--grey-color);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.navbar-links ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.navbar-link .text-sm {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: var(--fw-normal);
}

.navbar-link .text-sm:hover {
  color: var(--green-color);
  font-weight: var(--fw-bold);
}

.navbar-links.navbar-open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.btn-navbar {
  display: flex;
  justify-content: space-evenly;
}

.btn-navbar .btn-primary{
  padding: 0.2rem 2rem;
}

.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 3;
}

.menu-icon {
  width: 1.125rem;
  height: 0.06rem;
  background-color: var(--light-color);
  border-radius: 0.3rem;
  transition: var(--smooth);
  position: relative;
  padding: 0.01rem;
}

.menu-icon::before,
.menu-icon::after {
  content: " ";
  width: 1.125rem;
  height: 0.06rem;
  background-color: var(--light-color);
  border-radius: 0.3rem;
  transition: var(--smooth);
  position: absolute;
}

.menu-icon::before {
  transform: translateY(-0.5rem);
}

.menu-icon::after {
  transform: translateY(0.5rem);
}

/* menu amination */
.open .menu-icon {
  transform: translateX(-3rem);
  background: transparent;
}

.open .menu-icon::before {
  transform: rotate(-45deg) translate(2rem, 2rem);
}

.open .menu-icon::after {
  transform: rotate(45deg) translate(2rem, -2rem);
}

@media (min-width: 1440px) {
  .container{
    width: 1140px;
  }

  .navbar{
    margin-top: 1rem;
    justify-content: normal;
    gap: 5.7rem;
  }

  .navbar-logo img {
    width: 6.6rem;
  }

  .navbar-links{
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-navbar{
    gap: 1rem;
  }

  .navbar-links ul{
    flex-direction: row;
    margin: 0;
    gap: 2.63rem;
  }

  .menu-icons {
    display: none;
  }


}
