.tasks-container {
  display: flex;
  gap: 22px;
  margin: 21px;
}

.todo {
  background-color: var(--blue-select-color);
  color: var(--primary-color);
}

.done {
  background-color: var(--green-color);
  color: var(--primary-color);
}

.inprogress {
  background-color: var(--yellow-color);
}

.archived {
  background-color: var(--grey-rgb-color);
}

.add-task-container {
  width: 100%;
  padding: 0 15px;
}

.task-input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-grey-color);
  background-color: var(--grey-light-color);
  margin-bottom: 8px;
  width: 100%;
}

.task-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-grey-color);
}
