.create-user-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form-create-user {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.form-create-user input,
.form-create-user select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-create-user {
  cursor: pointer;
}

.btn-create-users {
  margin-top: 30px;
  grid-column: 2 / span 1;
  width: 50%;
  padding: 8px;
  border: none;
  background-color: #0056b3;
  color: white;
  justify-self: center;
  border-radius: 4px;
}

.btn-create-users:hover {
  background-color: #004080;
}
