.btn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--turquoise-light-color);
  border-radius: 8px;
  font-weight: var(--fw-bold);
  transition: box-shadow 0.3s ease;
  padding: 10px 0;
}

.btn-primary:hover {
  box-shadow: 0 0 10px var(--turquoise-color);
}

.btn-secondary {
  background-color: var(--yellow-color);
  border-radius: 8px;
  font-weight: var(--fw-bold);
  transition: box-shadow 0.3s ease;
  padding: 10px 0;

}

.btn-secondary:hover {
  box-shadow: 0 0 10px var(--yellow-light-color);
}
