.outstanding-container {
  object-fit: cover;
  margin-bottom: 50px;
  margin-top: 50px;
}

.outstanding-wrapper {
  display: flex;
}

.item-oustanding-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-left: 20px;
}

.item-oustanding-container:hover {
  color: var(--turquoise-dark-color);
}

.img-outstanding {
  width: 80%;
  inset: 0px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid var(--very-light-gray);
}
