footer {
    min-height: 209px;
    flex-shrink: 0;
    background: var(--text-dark);
    margin-top: 104px;
}

.footer-left {
    position: absolute;
}

.footer-left-logo img {
    margin-top: 44px;
}

.footer-left .logo {
    position: absolute;
}

.logo-heart img {
    margin-left: 44px;
    margin-top: 81px;
}

.footer-left p {
    color: var(--primary-color);
    font-size: var(--font-s);
    margin-top: 17px;
    word-spacing: 4px;
}

.footer-left .social {
    margin-top: 9px;
}

.footer-right p {
    float: right;
    text-align: right;
    margin-top: 41px;
    color: var(--primary-color);
    font-size: var(--font-s);
    line-height: 18px;
    font-family: var(--primary-font);
}