.footer-page{
    background: var(--text-dark);
    padding-bottom: 20px;
}

.footer-container {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright .logo {
    position: absolute;
    margin-top: 44px;
}

.footer-copyright .logo-heart img {
    margin-left: 44px;
    margin-top: 81px;
}

.footer-copyright .text-sm {
    margin-top: 14px;
}

.footer-copyright .social img{
    margin-top: 6px;
}

.footer-contact {
    text-align: right;
    margin-top: 40px;
}

.address-content .text-sm{
    margin-top: 18px;
}