.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-square {
  background: var(--tertiary-color);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: none;
}

.btn-square:hover {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.btn-circle {
  background: var(--tertiary-color);
  border: 1px solid transparent;
  border-radius: 50%;
}

.btn-circle:hover {
  border: 1px solid var(--primary-color);
}

.btn-sm {
  padding: 14px 12px;
}

.btn-md {
  padding: 31px;
}
