.donate-section {
  width: 988px;
  height: 340px;
  margin: auto;
  margin-top: 120px;
}

.donate-section p {
  width: 435px;
  text-align: left;
  float: left;
  margin-left: 4px;
  margin-top: 146px;
  font-size: var(--font-l);
  font-family: var(--primary-font);
  line-height: 1.45;
}

.donate-section-input {
  float: right;
  width: 398px;
  height: 352px;
  border-radius: 4px;
  border: 1px solid var(--tertiary-color);
  background: var(--primary-color);
  box-shadow: 0px 0px 20px 0px rgba(16, 114, 83, 0.16);
  line-height: 1.2;
  padding: 2px;
}

.donate-section-input form {
  margin-top: 29px;
  margin-right: 22px;
  margin-left: 26px;
}

.donate-section-input label {
  font-family: var(--primary-font);
  font-size: var(--font-m);
  font-weight: 700;
}
.donate-section-select {
    padding-right: 2px;
  }
.btn--donate img {
  transform: translate(13px, 3px);
}

.donate-section-input-amount {
  display: flex;
}

.donate-section-select {
  position: absolute;
  padding: 11px 17px;
  border: 1px solid var(--quaternary-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: var(--font-l);
}

.donate-section-input .btn--donate {
  margin-top: 27px;
}

.donate-input-true,
.donate-input-three {
  margin-top: 18px;
}
