.news-letter-section {
    width: 940px;
    height: 200px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 8px;
}

.news-letter-section p {
    flex-direction: column;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--font-l);
    margin: 0 auto;
    padding-top: 69px;
}

.news-letter-section form {
    margin: 24px;
    margin-top: 24px;
    /* position: relative; */
    display: flex;
    margin-left: 281px;
}

.news-letter-section input[type=email] {
    width: 240px;
    height: 40px;
    color: var(--text-dark);
    font-family: var(--primary-font);
    font-size: var(--font-l);
    font-style: italic;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--quaternary-color);
    background: var(--tertiary-color);
    padding-left: 16px;
    
   
}
