.info-section {
  width: 100%;
  height: 126px;
  flex-shrink: 0;
  background-color: var(--tertiary-color);
  align-items: baseline;
}

.info-section p {
  display: flex;
  width: 800px;
  color: var(--text-dark);
  text-align: center;
  font-family: var(--primary-font);
  font-size: var(--font-xl);
  margin: 0 auto;
  padding-top: 41px;
  word-spacing: 2.3px;
}