.reading-resources-section {
  width: 984px;
  height: 410px;
  margin: auto;
  margin-top: 183px;
  border: 1px solid var(--primary-color);
}

.reading-resources-section .btn--quaternary {
  float: right;
  margin-top: 27px;
}

.reading-card {
  display: flex;
  height: 279px;
  margin-top: 132px;
}

.reading-card-1,
.reading-card-2,
.reading-card-3 {
  width: 350px;
  border-radius: 8px;
  border: 1px solid var(--quaternary-color);
  margin-right: 55px;
  padding: 29px 30px;
}

.reading-card h2 {
  color: var(--text-dark);
  font-family: var(--primary-font);
  font-size: var(--font-xl);
  margin: 0 auto;
}

.reading-card p {
  width: 232px;
  color: var(--text-dark);
  font-family: var(--primary-font);
  font-size: var(--font-l);
  text-align: left;
  transform: translateY(-7px);
  line-height: 1.4;
}

.reading-card .btn--tertiary {
  display: flex;
  margin: 0 auto;
  transform: translate(2px, -4px);
}