.stas-section {
    width: 986px;
    height: 135px;
    border-radius: 8px;
    background-color: var(--tertiary-color);
    margin: auto;
    margin-top: 150px;
  }
  
  .stas-section ul{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      padding-top: 70px ;
      padding-left: 70px;
      padding-right: 65px;
      font-family: var(--primary-font);
  }
  