.message-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  width: fit-content;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  z-index: 1000;
}

.message-title {
  font-size: var(--font-lg);
}

.message-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
