.handbook-container {
  display: flex;
  padding-top: 50px;
}

.item-handbook-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  max-width: 240px;
  text-align: center;
}

.img-handbook {
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  max-height: 151px;
  object-fit: cover;
  color: transparent;
  margin-bottom: 15px;
}
