.item-link-container {
  border: 2px solid var(--very-light-gray);
  align-items: center;
  text-align: center;
  width: 100%;
}

.item-link-container:hover {
  border: 2px solid var(--turquoise-dark-color);
}

.img-link {
  height: 100%;
  width: 100%;
  object-fit: contain;
  color: transparent;
}

.item-link-wrapper.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}

.service .item-link-container {
  border-radius: 30px;
  background: url(../../../assets/backgrounds/background-item1.png);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 30px;
}

.service .img-link {
  width: 56px;
  height: 56px;
}

.service .title-link {
  flex: 1 1 0%;
  margin-left: 10%;
  color: var(--dark-gray-color);
  text-align: left;
}
.item-link-slider {
  display: flex !important;
}

.item-link-wrapper.specialist {
  display: flex !important;
  margin-bottom: 50px;
  margin-top: 50px;
}

.specialist .item-link-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 40px;
  margin-left: 30px;
  min-height: 312px;
}

.item-link-wrapper.facilities {
  margin-top: 50px;
  margin-bottom: 50px;
}

.facilities .item-link-container {
  display: flex !important;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
  min-height: 312px;
  margin-left: 30px;
}

.facilities .title-link {
  margin-top: 50px;
}

.facilities .img-link {
  max-width: 332px;
  max-height: 158px;
}
