.topbar {
  background-color: var(--secondary-color);
  width: 100vw;
  padding: 12px 0;
}

.topbar-container {
  display: flex;
  justify-content: space-between;
}

.topbar-contents {
  display: flex;
}

.icontext-container.topbar-icon {
  padding: 0 12px;
}

.icontext-container.topbar-icon:nth-child(1),
.icontext-container.topbar-icon:nth-child(2) {
  border-right: 1px solid rgba(217, 217, 217, 1);
}
