.slider {
  position: relative;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slide.active {
  display: inline-block; 
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

button:first-of-type {
  left: 0;
}

button:last-of-type {
  right: 0;
}
