.loading-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading-divider {
  display: block;
  width: 130px;
  height: 4px;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loading-divider::before {
  content: "";
  position: absolute;
  background: var(--turquoise-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}