.item-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-header-wrapper {
  background-color: rgb(218, 243, 246);
  padding: 10px 8px;
  border-radius: 16px;
  font-size: 20px;
  color: rgb(52, 146, 158);
  font-weight: 600;
}

.btn-primary {
  margin: 0;
}
