.benefit {
  background-color: var(--tertiary-color);
}

.benefit-content {
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.benefit-title {
  font-size: 2.25rem;
  line-height: 2.875rem;
  letter-spacing: -0.03rem;
}

.benefit-desc {
  font-size: 1rem;
  line-height: 1.625rem;
}

.benefit-items {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.75rem;
  padding-bottom: 4.4rem;
}

.benefit-item {
  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.icon-smilely,
.icon-laptop,
.icon-pen {
  min-height: 5.5rem;
  margin-top: 2.85rem;
  margin-left: 0.35rem;
}

.line-smilely,
.line-pen {
  margin-top: 0.5rem;
}

.icon-laptop {
  margin-top: 3.25rem;
  min-height: 5.5rem;
}

.laptop {
  padding-bottom: 1.65rem;
}

.icon-smilely {
  background-image: url(../../assets/images/ic-smiley-white.svg);
  background-repeat: no-repeat;
}

.icon-laptop {
  background-image: url(../../assets/images/ic-laptop-white.svg);
  background-repeat: no-repeat;
}

.icon-pen {
  background-image: url(../../assets/images/ic-pen-white.svg);
  background-repeat: no-repeat;
}

.card-title {
  margin-top: 1rem;
  font-size: 1.25rem;
  letter-spacing: 0.023rem;
  line-height: 1.75rem;
}

.card-desc {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.625rem;
}

.benefit-item:hover .card-title,
.benefit-item:hover .card-desc {
  color: var(--dark-color);
}

.benefit-item:hover .line {
  background-color: var(--dark-color);
}

.benefit-item:hover .icon-smilely {
  background-image: url(../../assets/images/ic-smile-black.svg);
}

.benefit-item:hover .icon-laptop {
  background-image: url(../../assets/images/ic-laptop-black.svg);
}

.benefit-item:hover .icon-pen {
  background-image: url(../../assets/images/ic-pen-black.svg);
}

.line-smilely,
.line-pen,
.line-laptop {
  background-color: var(--primary-color);
}

.line-smilely,
.line-pen,
.line-laptop:hover {
  background-color: var(--dark-color);
}

@media (min-width: 1200px){
  .benefit-items {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .benefit {
    padding-bottom: 2.3rem;
  }

  .benefit-content {
    padding-top: 6.8rem;
    flex-direction: row;
    align-items: center;
    gap: 5.5rem;
  }

  .benefit-title {
    font-size: 2.6rem;
    letter-spacing: 0.025rem;
    gap: 3rem;
    max-width: 27rem;
    line-height: normal;
  }

  .benefit-desc {
    margin-top: 1.5rem;
    line-height: 1.75rem;
    max-width: 27rem;
    line-height: 1.6rem;
  }

  .benefit-items {
    padding-top: 1rem;
  }

  .benefit-item {
    max-width: 20.7rem;
    padding: 0 1.78rem 3.2rem;
    display: flex;
    flex-direction: column;
  }

  .icon-smilely {
    max-height: 3.5rem;
    margin-top: 4.1rem;
  }

  .icon-laptop {
    margin-top: 4rem;
    max-height: 3.3rem;
    margin-left: 0;
  }

  .icon-pen {
    max-height: 3.5rem;
    margin-top: 4.1rem;
    margin-left: 0;
  }

  .line-smilely,
  .line-pen,
  .line-laptop {
    margin-top: 1rem;
  }

  .pen-desc {
    padding-bottom: 1.5rem;
  }

  .card-title {
    margin-top: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.023rem;
    line-height: 1.5rem;
  }

  .card-desc {
    margin-top: 0.6rem;
    font-size: 0.9rem;
    line-height: 1.44rem;
    padding-right: 2rem;
  }

  .customers {
    padding-right: 7rem;
  }

  .icon-smilely {
    background-image: url(../../assets/images/ic-smiley-white-lg.svg);
  }

  .icon-laptop {
    background-image: url(../../assets/images/ic-laptop-white-lg.svg);
  }

  .icon-pen {
    background-image: url(../../assets/images/ic-pen-white-lg.svg);
  }

  .benefit-item:hover {
    transform: translateY(-1rem);
  }
  .benefit-item:hover .icon-smilely {
    background-image: url(../../assets/images/ic-smiley-black-lg.svg);
  }

  .benefit-item:hover .icon-laptop {
    background-image: url(../../assets/images/ic-laptop-black-lg.svg);
  }

  .benefit-item:hover .icon-pen {
    background-image: url(../../assets/images/ic-pen-black-lg.svg);
  }
}
