.header-page {
  position: absolute;
  width: 100%;
  margin-top: calc(24 / 16 * 1rem);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: calc(97 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
  object-fit: cover;
}

.navbar-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--light-color);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar-links.navbar-open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar-link {
  list-style: none;
  margin: calc(55 / 16 * 1rem);
}

.navbar-link a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
  transition: var(--smooth);
}

.navbar-link a:hover {
  color: var(--tertiary-color);
}

.btn-navbar {
  display: flex;
  justify-content: space-around;
  font-size: var(--text-sm);
}

.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  cursor: pointer;
  transition: var(--smooth);
  z-index: 3;
}

.menu-icon {
  width: calc(18 / 16 * 1rem);
  height: calc(1 / 16 * 1rem);
  background-color: var(--light-color);
  border-radius: calc(5 / 16 * 1rem);
  transition: var(--smooth);
  position: relative;
  padding: 0.01rem;
}

.menu-icon::before,
.menu-icon::after {
  content: " ";
  width: calc(18 / 16 * 1rem);
  height: calc(1 / 16 * 1rem);
  background-color: var(--light-color);
  border-radius: calc(5 / 16 * 1rem);
  transition: var(--smooth);
  position: absolute;
}

.menu-icon::before {
  transform: translateY(-0.5rem);
}

.menu-icon::after {
  transform: translateY(0.5rem);
}

/* menu amination */
.open .menu-icon {
  transform: translateX(-3rem);
  background: transparent;
}

.open .menu-icon::before {
  transform: rotate(-45deg) translate(2rem, 2rem);
}

.open .menu-icon::after {
  transform: rotate(45deg) translate(2rem, -2rem);
}
