.hero{
  margin-top: 3rem;
}

.hero .text-md {
  margin-top: 1rem;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
  margin-top: 2rem;
  background-color: var(--primary-color);
  gap: 0.3rem;
}

.input-form .fill-input {
  border: none;
  margin-top: 0.4rem;
  padding: 0.4rem 1rem 1rem;
  font-family: var(--primary-font);
  font-size: var(--font-md);
}

.input-form .btn-secondary {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

.hero .text-sm {
  margin-top: 0.9rem;
}

.hero-img {
  background-image: url(../../assets/images/hero-sm.svg);
  background-repeat: no-repeat;
  margin-top: 2.65rem;
  position: absolute;
  right: 0;
  margin-bottom: 2.65rem;
  z-index: 0;
  width: 18.9rem;
  height: 15.8rem;
}

@media (min-width: 1440px) {
  .hero {
    display: flex;
    margin-top: 0.4rem;
  }

  .hero-content {
    width: 40rem;
  }

  .hero .text-4xl {
    margin-top: 5.5rem;
    font-size: var(--font-6xl);
    line-height: 4.625rem;
    letter-spacing: -0.055rem;
  }

  .hero .text-md {
    font-size: var(--font-lg);
    margin-top: 1.5rem;
    padding-right: 9rem;
    line-height: 1.75rem;
  }

  .input-form {
    flex-direction: row;
    margin-top: 4rem;
    align-items: center;
    gap: 4.8rem;
    width: 71%;
    padding: 0.5rem;
  }

  .input-form .fill-input {
    font-size: var(--font-lg);
    letter-spacing: -0.15;
  }

  .input-form .btn-secondary {
    padding: 1rem 1.4rem;
    margin: 0;
    font-size: var(--font-lg);
    font-weight: var(--fw-bold);
    line-height: normal;
    letter-spacing: -0.016rem;
  }
  
  .hero-content .text-sm{
    margin-top: 0.8rem;
    padding-left: 1rem;
  }

  .hero-img {
    background-image: url(../../assets/images/hero-lg.png);
    background-repeat: no-repeat;
    width: 38rem;
    height: 31.7rem;
    margin-top: 5.3rem;
  }
}
