.integrations {
  background-color: var(--secondary-color);
  margin-top: 4.5rem;
  padding-bottom: 1.55rem;
}

.integrations-title {
  text-align: center;
  padding-top: 4.6rem;
  font-size: 2.25rem;
  line-height: 2.875rem;
  letter-spacing: -0.03rem;
}

.integrations-desc {
  margin-top: 1rem;
  line-height: 1.625rem;
  padding: 0 0.3rem;
  text-align: center;
}

.integrations-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 8px;
  margin-top: 3rem;
}

.col-s {
  width: 4.875rem;
  height: 4.875rem;
}

.col-l {
  width: 11.625rem;
  height: 4.875rem;
}

.integrations-link {
  padding: 0.937rem 0 2.68rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.integrations-link .text-link {
  letter-spacing: 0.343px;
  margin-top: 1.9rem;

}

@media (min-width: 1440px) {
  .integrations {
    padding-bottom: 3.9rem;
  }

  .integrations-title {
    padding-top: 6.5rem;
    font-size: 2.6rem;
    line-height: 3.7rem;
    letter-spacing: -0.01rem;
  }

  .integrations-desc {
    margin-top: 0.75rem;
  }

  .integrations-img {
    margin-top: 4rem;
    column-gap: 8px;
    row-gap: 8px;
  }

  .integrations-img :nth-child(6) {
    order: 1;
  }

  .col-s {
    width: 6.67rem;
    height: 6.67rem;
  }

  .col-l {
    width: 16rem;
    height: 6.67rem;
  }

  .col-xl {
    width: 20.67rem;
    height: 6.67rem;
  }

  .integrations-link .text-link {
    margin-top: 3.2rem;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    padding-bottom: 0.2rem;
  }
}
