.integrations {
  background-color: var(--secondary-color);
  margin-top: 72px;
  padding-bottom: 24.8px;
}

.integrations-title {
  text-align: center;
  padding-top: 73.6px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.48px;
}

.integrations-desc {
  margin-top: 16px;
  line-height: 26px;
  padding: 0 4.8px;
  text-align: center;
}

.integrations-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  row-gap: 8px;
  margin-top: 48px;
}

.col-s {
  width: 78px;
  height: 78px;
}

.col-l {
  width: 186px;
  height: 78px;
}

.integrations-link {
  padding: 15px 0 42.88px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.integrations-link .text-link {
  letter-spacing: 0.343px;
  margin-top: 30.4px;

}

@media (min-width: 1440px) {
  .integrations {
    margin-top: 99px;
    padding-bottom: 64.8px;
  }

  .integrations-title {
    padding-top: 117px;
    font-size: 46.8px;
    line-height: 66.6px;
    letter-spacing: -0.18px;
  }

  .integrations-desc {
    margin-top: 13.5px;
  }

  .integrations-img {
    margin-top: 72px;
    column-gap: 8px;
    row-gap: 8px;
  }

  .integrations-img :nth-child(6) {
    order: 1;
  }

  .col-s {
    width: 120px;
    height: 120px;
  }

  .col-l {
    width: 288px;
    height: 120px;
  }

  .col-xl {
    width: 372px;
    height: 120px;
  }

  .integrations-link .text-link {
    margin-top: 57.6px;
    font-size: 24px;
    letter-spacing: 0.72px;
    padding-bottom: 3.6px;
  }
}
