.new-service {
  margin-top: 72px;
}

.new-service-title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.48px;
}

.new-service .forward-link {
  margin-top: 25.6px;
}

.new-service .text-link {
  letter-spacing: 0.32px;
}

.services {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20.8px;
}

.new-service-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service-topic {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: 14px;
  letter-spacing: 1.4px;
  margin-top: 32px;
}

.content-title {
  font-size: 20px;
  letter-spacing: -0.32px;
  line-height: 30px;
}

.content-desc {
  display: flex;
  font-weight: var(--fw-semibold);
  margin-top: 1.6px;
}

.content-mobile {
  display: block;
}

.content-desktop {
  display: none;
}

.author {
  padding-left: 5.92px;
}

@media (min-width: 1440px) {
  .new-service {
    margin-top: 140px;
  }

  .new-service-title {
    font-size: 63px;
    letter-spacing: -0.32px;
    max-width: 684px;
  }

  .new-service .forward-link {
    padding: 0;
    float: right;
    margin: 0;
    align-items: flex-start;
  }

  .new-service .text-link {
    font-size: 20px;
  }

  .services {
    clear: both;
    margin-top: 48.6px;
    flex-direction: row;
    justify-content: space-between;
    gap: 32.4px;
  }

  .service-topic {
    font-size: 14px;
  }

  .new-service-content {
    width: 630px;
    gap: 14.4px;
  }

  .service-content-img {
    margin-top: 12.6px;
  }

  .content-title {
    letter-spacing: 0.27px;
    line-height: 33.75px;
    font-size: 30.6px;
    line-height: 42px;
    margin-top: 9px;
  }

  .content-desc {
    margin-top: 12.6px;
  }

  .content-first {
    padding-right: 72px;
  }

  .content-mobile {
    display: none;
  }

  .content-desktop {
    display: block;
  }
}
