.new-service {
  margin-top: 4.5rem;
}

.new-service .forward-link {
  padding: 1.5rem 0 2rem;
}

.services {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.service-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-content .text-sm {
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: var(--fw-bold);
  letter-spacing: 0.0875rem;
}

.service-content .line {
  background-color: var(--light-color);
}

.service-content .text-xl {
  letter-spacing: -0.017375rem;
  line-height: 1.875rem;
}

.service-content .text-md {
  display: flex;
  font-weight: var(--fw-semibold);
}

.service-content .text-md-grey {
  padding-left: 0.37rem;
  color: var(--light-color);
  font-weight: var(--fw-normal);
}

@media (min-width: 1440px) {
  .new-service {
    margin-top: 8.5rem;
  }

  .new-service .text-4xl {
    font-size: var(--font-6xl);
    letter-spacing: -0.05rem;
  }

  .new-service .forward-link {
    padding: 0;
    float: right;
    margin: 0;
    align-items: flex-start;
  }

  .forward-link .text-md{
    font-size: var(--font-xl);
  }

  .services {
    clear: both;
    margin-top: 5.5rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .service-content {
    width: 35rem;
    gap: 1.3rem;
  }

  .service-content .text-xl {
    letter-spacing: -0.017375rem;
    line-height: 1.875rem;
    font-size: var(--font-3xl);
    line-height: 2.625rem; 
    letter-spacing: -0.023rem;
    padding-right: 2rem;
  }
  
  .service-content .content-first {
    padding-right: 2rem;
  }

  .service-content .content-second {
    padding-right: 1rem;
  }
}
