.partner {
  width: 100%;
  padding-bottom: 4.5rem;
  background-color: var(--secondary-color);
}

.partner-wrapper {
  padding-top: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

.partner-decs {
  font-size: 0.875rem;
}

.grid-partner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 2.5rem;
}

@media (min-width: 1440px) {
  .partner {
    padding-bottom: 4.7rem;
  }

  .partner-wrapper {
    padding-top: 2.4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .grid-partner {
    grid-template-columns: repeat(5, auto);
    column-gap: 3.5rem;
  }

  .grid-partner .google-img,
  .grid-partner .canon-img,
  .grid-partner .amazon-img {
    width: 5.3rem;
  }

  .grid-partner .atlassian-img {
    width: 7.2rem;
  }

  .grid-partner .walmart-img {
    width: 8.1rem;
  }
}
