.revenue-statis {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.revenue-statis .tag {
  width: 17.5%;
  margin-top: 1.6rem;
}

.revenue-img {
  margin-top: 1.56rem;
}
