.supercharge {
  background-image: url(../../assets/images/background.svg);
  width: 100%;
  height: auto;
}

.supercharge-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 70px;
}

.supercharge-title {
  font-size: 36px;
  margin-top: 73.6px;
  line-height: 46px;
  letter-spacing: -0.48px;
}

.supercharge-desc {
  margin-top: 16px;
  line-height: 28px;
  font-size: 18px;
}

.supercharge-wrapper .btn-primary {
  margin: 0 auto;
  margin-top: 180.8px;
  display: flex;
  gap: 24px;
  padding: 20.8px 25.6px 19.2px 32px;
  color: var(--dark-color);
  background-color: var(--primary-color);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.24px;
}

.supercharge-btn-text {
  text-align: center;
  margin-top: 27.2px;
  font-size: 14px;
}

@media (min-width: 1440px) {
  .supercharge {
    background-image: url(../../assets/images/background-lg.svg);
    margin-top: 0;
    background-repeat: no-repeat;
  }

  .supercharge-wrapper {
    flex-direction: row;
    padding-bottom: 118.8px;
    gap: 144px;
  }

  .supercharge-wrapper .btn-primary {
    margin-top: 180px;
    display: flex;
    padding: 20.7px 25.56px 19.08px 31.86px;
    letter-spacing: -0.27px;
  }

  .supercharge-btn-text {
    font-size: 14px;
    margin-top: 25px;
  }

  .supercharge-content {
    margin-top: 52.2px;
    max-width: 720px;
  }

  .supercharge-title {
    margin-top: 70.2px;
    font-size: 64px;
    line-height: 73.4px;
    letter-spacing: -0.9px;
  }

  .supercharge-desc {
    margin-top: 23.4px;
    padding-right: 144px;
    font-size: 18px;
    line-height: 27.9px;
  }

  .supercharge-btn {
    margin-top: 25.2px;
  }
}
