* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: var(--font-md);
  font-family: var(--primary-font);
  line-height: 1;
  background-color: var(--main-background-color);
}

.container {
  margin: 0 9%;
}
